<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sageconger.qop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/security"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name="com.sageconger.qop.AddActivity"></activity>
        <activity android:name="com.sageconger.qop.ViewActivity" />
        <activity android:name="com.sageconger.qop.MainActivity" />
        <activity android:name="com.sageconger.qop.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sageconger.qop.SignUpActivity" />
        <activity android:name="com.sageconger.qop.LoginActivity" />
    </application>

</manifest>